h1 {
    background: green;
    font-size: 48px;
}

.paragraph-1 {
    font-family: Courier;
}

.my_fat_text {
    font-weight: bold;
    display: block;

}

.paragraph-2 {
    border: rgb(165, 105, 200) dotted 5px;
   /* margin: 50px; */
    padding: 50px;
    font-family: Arial;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 50px;
}
